@import '~antd/es/style/themes/default.less';

.main {
  width: 100%;
  background: @component-background;
}

.font-size {
  font-size: 25px;
}

.font-color {
  color: aliceblue;
}

.line-through {
  text-decoration: line-through red;
}

.underline {
  text-decoration: underline blue;
}

.header {
  width: 100%;
  background-color: #d24d57;
  height: 100px;
}

.box {
  float: left;
  margin-bottom: 12px;
}

.left {
  width: 30%;
  height: 100px;
  background-color: #eb7347;
}

.content-main {
  width: 40%;
  height: 100px;
  background-color: #fc9d99;
}

.right {
  width: 30%;
  height: 100px;
  background-color: #26a65b;
}

.content {
  margin: 12px 0px;
}

.footer {
  width: 100%;
  height: 100px;
  background-color: #aedd81;
  margin-bottom: 0px;
}

.test2 {
  position: relative;
  padding-top: 100%;
  height: 0;
  width: 100%;
}

.test2-wrapper {
  border: 3px solid #ccc;
  margin-top: 24px;
}

.test2-left {
  background-color: #aedd81;
}

.test2-main {
  background-color: #00ccff;
}

.test2-right {
  background-color: #d0d0d0;
}

@media only screen and (max-width: 1440px) {
  .header {
    height: 50px;
  }

  .footer {
    height: 50px;
  }

  .left {
    width: 100%;
  }

  .content-main {
    width: 100%;
  }

  .right {
    width: 100%;
  }

  .font-size {
    font-size: 14px;
  }
}
